.header1, .header2 {
  padding-left: 12%;
  padding-right: 12%;
}

.header {
  position: absolute;
  z-index: 2;
  width: 100%;
  background-color: #ffffffb5;
}
.calendar-wrapper{
    display: flex;
    width: 30%;
}

.calendar-wrapper-parent{
/*    display: flex;
    flex-direction: row;
    justify-content: space-evenly;*/
}

#calendar1 {
    margin: 0 auto;
    font-size: 10px;
    /*visibility: hidden;
    display: none;*/
}
.navbar-light .navbar-toggler {
border: none !important;
outline: none !important;
}

.navbar-toggler .icon-bar {
  width: 22px;
  transition: all 0.2s;
}
.navbar-toggler .top-bar {
  transform: rotate(45deg);
  transform-origin: 0% 10%;
}
.navbar-toggler .middle-bar {
  opacity: 0;
}
.dropdown-toggle{
  font-size: 16px;
  font-weight: 400;
}
.faqsA{
  margin-top: 10%;
}
.navbar-toggler .bottom-bar {
  transform: rotate(-45deg);
  transform-origin: 10% 90%;
}
.navbar-toggler.collapsed .top-bar {
  transform: rotate(0);
}
.navbar-toggler.collapsed .middle-bar {
  opacity: 1;
}
.navbar-toggler.collapsed .bottom-bar {
  transform: rotate(0);
}
.navbar-toggler{
  width: 47px;
  height: 34px;
  background-color: transparent;
  border:none;
}
.navbar-toggler .icon-bar{
  float: left;
  height: 2px;
  background-color: #1D4C81;
  margin-bottom: 5px;
}

#calendar0 {
    margin: 0 auto;
    font-size: 10px;
    /*visibility: hidden;
    display: none;*/
}
.fc-header-title h2 {
    font-size: .9em;
    white-space: normal !important;
}
.fc-view-month .fc-event, .fc-view-agendaWeek .fc-event {
    font-size: 0;
    overflow: hidden;
    height: 2px;
}
.fc-view-agendaWeek .fc-event-vert {
    font-size: 0;
    overflow: hidden;
    width: 2px !important;
}
.fc-agenda-axis {
    width: 20px !important;
    font-size: .7em;
}

.fc-button-content {
    padding: 0;
}
.card-title{
  font-weight: 600;
}
.fc-view-harness{
    height: 285px!important;
}

.fc-daygrid-day-number{
    margin: auto;
}

.fc-scrollgrid{
    border-style: none!important;
}

.day-highlight-check{
    background: green !important;
}

td .fc-daygrid-day:hover{
   /* background-color: white!important;
    color: #1D4C81!important;*/
    box-shadow: 0 0 0 1px #ffffff;

}

.fc-button-primary{
    background-color: #1D4C81!important;
}

.fc td, .fc th {
    border-style: none !important;
}

.activeDay {
    background-color:#ff0000 !important;
}

#checkin{
    color: #f5f5f5!important;
}

#checkout{
    color: #f5f5f5!important;
}

.calendar-main{
    position: absolute;
    width:700px;
    height: 390px;
    background-color: #1D4C81;
    top: 186px;
    right: 46px;
    display: none;
}

.calendar-child{
    position: relative;
    width: 680px;
    height: 370px;
    margin-top: 10px;
    margin-left: 10px;
    border: 1px solid #f5f5f5;
}

.fc-day-past .fc-daygrid-day-top{
    opacity: 0.3;
    color: darkgrey!important;
}

.cellBg{
    background-color: #033382;
}

.cellBgBetween{
    background-color: #16A1DF!important;
}

.trasnparentBg{
    background-color: transparent;
}


.disabledCell{
    opacity:.5;
    pointer-events:none;
}

.fc-daygrid-day-events{
    min-height: 0px!important;
}

.fc-daygrid-day{
    border: 1px solid #ff0000;
    border-radius: 50%;
}

td{
    height: 44px;
    width: 44px;
}

.fc-daygrid-day-top{
    margin-top: 10px;
}

.fc-day-other .fc-daygrid-day-top { display:none;}

.hero-image {
  background-image: -webkit-gradient(linear, left top, left bottom, from(rgba(0, 0, 0, 0.1)), to(rgba(0, 0, 0, 0.1))), url("/assets/images/cover_image/regions.png");
  background-image: linear-gradient(rgba(0, 0, 0, 0.1), rgba(0, 0, 0, 0.1)), url("/assets/images/cover_image/regions.png");
  height: 85vh;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  position: relative;
}
.searchForm{
  border-radius: 5px;
  color:#1D4C81 ;
  padding: 0px !important;
  margin: 0px !important;
  font-weight: 600;
  background-color: white;
  font-size: 16px;
}

.searchForm select{
  color: black!important;
  font-weight: 400;

}

.hero-text {

  width: 70%;
  text-align: center;
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
}

#covid_modal .modal .modal-dialog-aside{
  height: auto;
}
.hero-text h1 {
  text-transform: uppercase;
  color: white;
  margin-bottom: 1.5rem;
}
.mainsearch{
  padding: 2px;
}
select.form-control:not([size]):not([multiple]) {
  height: calc(2.25rem + 10px) !important;
}
.button1-inquiry{
  border-radius: 30px;
}
select:focus, input:focus{
  outline: none;

}
.searchFormaHero button {
  border: none;
  outline: 0;
  display: inline-block;
  padding: 11px 25px;
  color: white;
  font-weight: 700;
  background-color: #1D4C81;
  text-align: center;
  width: 100%;
}
.searchFormaHero button:hover {
  background-color: #555;
  color: white;
}
.sendInq:disabled{
background-color: #7E7E7E;
}
.dropdown-menu.show {
  display: flex;
}

.nav-link h5 {
  margin: 0;
  font-size: 14px !important;
}

.abouts1  P{
  text-align: justify;
}
.abouts2  P{
  text-align: justify;
}
.abouts4  P{
  text-align: justify;
}
.abouts5  P{
  text-align: justify;
}
.abouts6  P{
  text-align: justify;
}
.navbar-light .navbar-nav .nav-link {
  color: #1D4C81 !important;
}
.navbar-nav a {
  text-transform: uppercase;
  font-size: 14px !important;
  font-weight: 500 !important;
}
.navbar  ul li{
  text-transform: uppercase;

}
.vipLink {
  background-color: #1D4C81;
  border-radius: 5px;
  padding: 0px 30px !important;
}

.vipLink h5 {
  color: #fff;
}

.nav-item {
  margin: auto;
}

.dropdown-item {
  color: white !important;
  display: inline-block !important;
}
.dropdown-item:hover {
  color: #ffff !important;
  background-color: #1d4c81;
}
.dropdown-menu {
  margin: 0.925rem 0 0;
}
.covid-text{
  font-weight: 300;
}

.nav-item {
  padding: 0px 10px;
}

.nav-link h5 {
  margin: 0;
}

footer {
  padding-top: 1%;
  background: #1D4C81;
  padding-top: 5%;
  color: white !important;
  font-weight: 300;
}

footer h4 {
  font-weight: 300;
}

footer li {
  padding: 4px;
}

.footer1 {
  padding-left: 12%;
  padding-right: 12%;
  padding-bottom: 2%;
}

footer a {
  color: white !important;
}

.right_footer {
  margin-left: auto;
  margin-right: 2%;
}

.left_footer {
  margin-left: 2%;
  margin-right: auto;
}

.footer2 {
  border-top: 1px solid #fff;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 100%;
  padding: 10px 10px 0px 10px;
}

.searchFormaHero form {
  width: 100%; 
  display: flex;
   flex-direction: column;
}
.mobile{
  display:  none !important;
}
.desktop{
  display: block !important;
}
/* properties index
 */
body {
  font-size: 14px;
}
/* promjena
 */ p {
  font-weight: 400;
}
img{
  max-width: 100%;
}
h1 {
  font-weight: 700;
  font-size: 2.25rem;
}

h2 {
  font-weight: 700;
  font-size: 1.85rem;
}

.h3, h3 {
  font-size: 1.6rem;
}

h6 {
  color: white;
}

.h5, h5 {
  font-size: 16px;
}
.searchFormaHero{
  background-color: rgba(0, 0, 0, 0.5);
    padding-top:10px ;
  padding-bottom:10px ;

  width: 100%;
  text-align: center;
  position: absolute;
  top: 60%;
  left: 0%;

}
.searchFormaHero form{
  width: 70%;
  margin: auto;
    border-radius: 5px;
    color: #1D4C81;
  
  
}
.filterProperties{
  padding-left: 5%;
  padding-right: 5%;
}
.specialProperties h2{
  position: absolute;
  width: 70%;
}
body {
  font-family: "Montserrat", sans-serif;
}
.razmak{
  width: 100%;
  height: 1px;
}
.nav-link h5 {
  font-family: "Montserrat", sans-serif !important;
  text-transform: uppercase;
}

.paddinglr {
  padding-left: 12%;
  padding-right: 12%;
}

.image-placeholder {
  border-radius: 5px;
  position: relative;
}

.property-title h3 , h5 {
 font-weight: 500;
} 
bold{
  font-weight: 600;
}
.propOverlay{
  background: transparent linear-gradient(180deg, #00000000 0%, #10101030 100%) 0% 0% no-repeat padding-box;
  position: absolute;
  height: 100%;
  width: 100%;
}
.property p {
  font-size: 14px;
}
.blog_image {
  width: 100%;
  height: 38vh;
  object-fit: cover;
  border-top-left-radius: calc(.25rem - 1px);
  border-top-right-radius: calc(.25rem - 1px);
}
.alertDiv{
    position: absolute;
    z-index: 100;
    top: 7%;
    width: 30%;
}

.alertDiv ul{
margin-right: 4%;
}
.property-title h3 {
 font-weight: 700;
}

.property p {
  font-size: 14px;
}

.properties .pgrey {
  color: #ABACAF;
}

.propertyMain {
  padding-left: 12%;
  padding-right: 12%;
}

.property-single {
  width: 100%;
}

.carousel-item {
  width: 200px;
  height: 200px;
  background-color: red;
}

.amenityHome {
  width: 9%;
  MARGIN: 2%;
}
.amenityHomeS{
  width: 7%;
  margin: 0% 3%;
}
.hero-exc-image .card-body{
  border-bottom-left-radius: 5px;
  border-bottom-right-radius: 5px;
}

.hero-exc-image, .card{
  border-radius: 8px;
}
.hero-exc-image .card-body p{
font-weight: 500 !important;
margin-bottom: 15px;
}
.property .amenityHomeS:first-child{
  margin: 0% 0% !important;
}
.property .amenityHomeS:last-child{
  margin: 0% 0% !important;
}
.coronaSection {
  margin-top: 2%;
  background: #EFEFEF;
  padding-left: 12%;
  padding-right: 12%;
}

.coronaSection .card {
  border: none;
  background: transparent;
}

.coronaSection .card .card-header {
  border: none;
  background: transparent;
}

.properties {
  padding-left: 12%;
  padding-right: 12%;
}
.googleMap iframe{
  width:100%;
   height:600px;
}
.coronaSection a {
  color: #1D4C81;
  font-weight: 500;
  font-size: 18px;
}

.peoples {
  position: absolute;
  bottom: 20px;
  right: 20px;
  height: 20px;
  z-index: 2;
  display: flex;
}
.ikonica{
  width: 13px;
}
.map_icon {
  position: absolute;
  left: 15px;
  bottom: 15px;
  z-index: 2;
  height: 30px;
}

.property_slide {
  width: 100%;
  height: 27vh;
  -o-object-fit: cover;
     object-fit: cover;
  border-radius: 5px;
}
.filterRental{
  height: 20vh;

}
.filter h3{
  font-weight: 700;
  margin: 0;
}
.filterInput{
  background-color: transparent;
  border: 1px solid #1D4C81 !important;
  border-radius: 5px;
  color: #1D4C81 !important;
  width: 100%;
  padding: .375rem .75rem;
  font-size: 12px;
}
.filterMain{
  background-color: #ADDBEF;
  border-radius: 5px;
  color: #1D4C81;
  padding: 20px 5px;

}
.filterMain label{
font-weight: 400;
  color: #1D4C81;
  margin-bottom: 2px;
  text-transform: uppercase;
}
.filterMain button{
  background-color: #1D4C81;
    color: white;
padding: 3px 25px; 
margin: auto;
width: 100%;
}

.filterMain .button-form-submit{
  align-self: center;
  width: 60%;
}
.filter{
  padding: 15px;
}

.property_single_slide {
  width: 100%;
  height: 85vh;
  -o-object-fit: contain;
     object-fit: contain;
  border-radius: 5px;
}

.owl-theme .owl-controls .owl-page {
  display: inline-block;
}

.owl-theme .owl-controls .owl-page span {
  background: none repeat scroll 0 0 #869791;
  border-radius: 20px;
  display: block;
  height: 12px;
  margin: 5px 7px;
  opacity: 0.5;
  width: 12px;
}

.gallery_owl {
  position: relative;
}

.gallery_owl .owl-next, .gallery_owl .owl-prev {
  width: 25px;
  height: 25px;
  margin-top: -40px;
  position: absolute;
  top: 50%;
  transform: translate(0%,100%);

}

.gallery_owl .owl-prev {
  left: 10px;
  transition: 0.9s ease;
  background: transparent url("/assets/images/left.svg") 0% 0% no-repeat padding-box !important;
  background-size: 25px !important;
}

.gallery_owl .owl-prev span {
  display: none;
}
.single_news_title h2{
font-weight: 500 !important;
}
.gallery_owl .owl-next {
  right: 10px;
  transition: 0.9s ease;
  background: transparent url("/assets/images/right.svg") 0% 0% no-repeat padding-box !important;
  background-size: 25px !important;

}
.owl-next:focus {
border:none;
background-color: red;
}
 .owl-prev:focus {
  border:none;
  }
  .owl-next:active {
    border:none;
    background-color: red;
    }
     .owl-prev:active {
      border:none;
      }
.single_news_header img{
  width: 100%;
  max-height: 44vh;
  object-fit: cover;
  border-radius: 5px;
}
.single_news_date{
  color: #1D4C81;
}
.gallery_owl .owl-next span {
  display: none;
}

.gallery_owl .owl-dots {
  position: absolute;
  top: 0;
  left: 50px;
  transform: translate(50%, 25%);
  width: 35%;
  height: 20px;
  overflow: hidden;
}
.gallery_owl .owl-nav {
  display: none;
}
.propertiesMain :hover .gallery_owl .owl-nav {
  display: block;

}
.gallery_owl .owl-dots .owl-dot {
  width: 10px;
  height: 10px;
  background: #1D4C81 !important;
  border-radius: 10px;
  margin: 3px;
}

.gallery_owl .owl-dots .active {
  background: #fff !important;
}

.aboutMne {
  background-image: -webkit-gradient(linear, left top, left bottom, from(rgba(0, 0, 0, 0.1)), to(rgba(255, 255, 255, 0.3))), url("/assets/images/mainMne.png");
  background-image: linear-gradient(rgba(0, 0, 0, 0.1), rgba(255, 255, 255, 0.3)), url("/assets/images/mainMne.png");
  height: 55vh;
  width: 100%;
  position: relative;
  background-size: cover;
}
.aboutMnePage {
  padding-top: 4%;
    position: relative;
}
.aboutMnePage .text {
  position: relative;
  top: 10%;
  left: 50%;
  -webkit-transform: translate(-50%, 0%);
          transform: translate(-50%, 0%);
  color: white;
  text-align: center;
}

.all_aboutMnePage{
  background-image: -webkit-gradient(linear, left top, left bottom, from(rgba(255, 255, 255, 0.2)), to(rgba(255, 255, 255, 0.7))), url("/assets/images/mainMne.png");
  background-image:linear-gradient(rgba(255, 255, 255, 0.2), rgba(255, 255, 255, 0.7)), url("/assets/images/mainMne.png");
  height: 100%;
  width: 100%;
  background-size: cover;
}
.aboutMne .text {
  position: absolute;
  top: 10%;
  left: 50%;
  -webkit-transform: translate(-50%, 0%);
          transform: translate(-50%, 0%);
  color: white;
  text-align: center;
}

.blogs_main {
  margin-top: -15%;
  
}
.single_news_blog {
  padding-left: 12%;
  padding-right: 12%;
}
.blogs_main p {
color:#ADDBEF;
font-weight: 300;
}
.card-body, .card-footer {
  background-color: #1D4C81;
  color: white;
}

.gallery_single_owl {
  position: relative;
}

.gallery_single_owl .owl-next, .gallery_single_owl .owl-prev {
  width: 25px;
  height: 25px;
  margin-top: -40px;
  position: absolute;
  top: 50%;
  color: #ffffff  !important;
}

.gallery_single_owl .owl-prev {
  left: 10px;
  background: transparent url("/assets/images/left.svg") 0% 0% no-repeat padding-box !important;
  background-size: 25px !important;
}

.gallery_single_owl .owl-prev span {
  display: none;
}

.gallery_single_owl .owl-next {
  right: 10px;
  background: transparent url("/assets/images/right.svg") 0% 0% no-repeat padding-box !important;
  background-size: 25px !important;
}

.gallery_single_owl .owl-next span {
  display: none;
}
a{
  color: black;
}
.gallery_single_owl .owl-dots {
  position: absolute;
  bottom: 4%;
  left: 50%;
  transform: translate(-50%, 25%);
  width: auto;
  height: 20px;
  overflow: hidden;
}

.gallery_single_owl .owl-dots .owl-dot {
  width: 10px;
  height: 10px;
  background: #1D4C81 !important;
  border-radius: 10px;
  margin: 3px;
}

.gallery_single_owl .owl-dots .active {
  background: #fff !important;
}

.blogs_owl {
  position: relative;
}

.blogs_owl .owl-next, .blogs_owl .owl-prev {
  width: 40px;
  height: 40px;
  margin-top: -40px;
  position: absolute;
  top: 50%;
  color: #fff !important;
  font-size: 50px !important;
}
.owl-prev,.owl-next  {
  outline: none !important;
}
.blogs_owl .owl-prev {
  left: -50px;
  outline: none !important;
  background: transparent url("/assets/images/left.svg") 0% 0% no-repeat padding-box !important;
}

.blogs_owl .owl-prev span {
  display: none;
}

.blogs_owl .owl-next {
  right: -50px;
  background: transparent url("/assets/images/right.svg") 0% 0% no-repeat padding-box !important;
}

.blogs_owl .owl-next span {
  display: none;
}

.property-location h6, .property-type h6, .property-single-location {
  color: #ABACAF;
}
.property-location h6, .property-type h6{
  margin: 0;
}
.property-location , .property-type {
  display: flex;
}
.card-footer {
  border-top: 1px solid rgba(255, 255, 255, 0.241) !important;
}
.faciImg h6{
  color: black;
  font-weight: 700;
}
.property-single-amenities {
  padding: 30px 20px;
  background-color: #F5F5F5;
  border-radius: 5px;
}
.property-single-facilities{
  display: none;
  padding: 30px 20px;
  background-color: #F5F5F5;
  border-radius: 5px;
  transition: 0.3s ease;
}
.showAmenities{
  height: auto  !important;
  visibility: visible !important;
}
.showMoreAm{
  text-decoration: underline;
  color: #08338F;
  font-weight: 600;
}
.form-property {
  background-color: #1D4C81;
  padding: 25px;
  border-radius: 5px;
  color: white !important;
}

.form-property h3 {
  color: white !important;
  text-align: left;
  padding-left: 0%;
  margin-left: 0%;
  font-weight: 700;
}
.firstCarForm p{
  font-weight: 300 !important;
}
.btn-inquiry {
  background: #fff;
  color: #1D4C81;
  font-weight: 700;
  padding: 8px 40px;
}

.form-control {
  background-color: transparent !important;
  color: white;
}

.form_inquiry {
  border: 1px solid #fff;
  margin: 0 !important;
  border-radius: 5px;
}


.tdark{
  color: black !important;
  font-weight: 700;
  margin: 0;
}
.form_inquiry input:active{
background-color: #1D4C81;
color: white;
border: none;
}
.form_inquiry input:focus{
  background-color: #1D4C81;
  color: white;
border: none;
  }

.form_inquiry_right {
  border-left: 1px solid #fff;
}
hr {
  margin-top: 1.25rem;
  margin-bottom: 1.25rem;
  border: 0;
  border-top: 1px solid rgba(0,0,0,.1);
}
.form_inquiry_bot {
  border-top: 1px solid #fff;
}

.form-group {
  padding: 12px  !important;
  margin: 0px ;
  font-weight: 600;
  font-size: 16px;
}
.btnI {
  margin-top: 25px;
}
.btnI p {
  font-weight: 100;
}

.covid-header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.modal-image-full {
  background: transparent url("/assets/images/cover_image/cetinje.jpg") 0% 0% no-repeat padding-box;
  background-repeat: no-repeat;
  background-size: cover;
  position: relative;
  background-position: center;
}

.hero-car-image {
  background: transparent url("/assets/images/cover_image/rentCarMain.png") 0% 0% no-repeat padding-box;
  height: 100vh;
  background-repeat: no-repeat;
  background-size: cover;
  position: relative;
  color: white;
}
.change1 p{
  font-size: 18px;
}

.hero-tran-image {
  background: transparent url("/assets/images/cover_image/transfersMain.jpg") 0% 0% no-repeat padding-box;
  height: 100vh;
  background-repeat: no-repeat;
  background-size: cover;
  position: relative;
  color: white;
}

.hero-yacht-image {
  background: transparent url("/assets/images/cover_image/rentYachtMain.jpg") 0% 0% no-repeat padding-box;
  height: 100vh;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  position: relative;
}

.hero-exc-image {
  background: transparent url("/assets/images/cover_image/excMain.jpg") 0% 0% no-repeat padding-box;
  height: 100vh;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  position: relative;
}

.hero-div {
  padding-left: 12%;
  padding-right: 12%;
  z-index: 2;
  padding-top: 10%;
  margin: 0;
}

.hero-div p {
  font-weight: 400;
}

.col-25 {
  -webkit-box-flex: 0;
  -ms-flex: 0 0 20%;
  padding: 15px;
  flex: 0 0 20%;
  max-width: 20%;
}
.blue{
  color:#1D4C81;
}
@media (min-width: 1200px) {
  .modal-xl {
    max-width: 100vw;
    
  }
  .modal-covid {
    max-width: 80vw;
    float: left;
    margin: auto !important;
  }
  .modal-content {
    padding-right: 12%;
    padding-left: 12%;
  }
}

.navbar {
  padding-left: 0;
  padding-right: 0;
}

.card {
  border: none !important;
}

.topForm {
  position: absolute;
  top: -25px;
  left: 0;
  padding: 5px;
  background-color: #103B6B;
  border-radius: 5px;
}

.topForm p {
  margin: 0;
}

#size {
  width: 100%;
}
/* //promjene */
.abouts1 {
  padding-top: 4% !important;
  padding-bottom: 0% !important;
  background-color: #1D4C81;
  color: white;

}
.abouts1 h1{
color: white;
    font-size: 52px;

}
.cblue{
  color:#1D4C81;
  font-weight: 500 !important;
}
.abouts2 {
  color: #1D4C81;
}

.abouts3 {

}
h1{
  font-size: 52px;
  color:#1D4C81 ;
}
.abouts4 {
  background-color: #1D4C81;
  color: white;
}

.abouts5 {
  color: #1D4C81;
}

.abouts6 {
  color: #1D4C81;
}

.padding {
  padding-left: 12%;
  padding-right: 12%;
  padding-top: 2%;
  padding-bottom: 2%;
}

.modal-image-full h5 {
  color: black;
  font-weight: 600;
}

.modal-image-full h3 {
  color: #1D4C81;
  font-weight: 700;
	
	
	
}

.modal-image-full .modal-button {
  position: absolute;
  bottom: 20%;
  left: 10%;
  background: transparent;
  color: #1D4C81;
  font-size: 34px;
  font-weight: 700;
}

.modal-image-full h1 {
  font-size: 54px;
  margin-top: 10%;
  color: white;
  padding-bottom: 3%;
  text-align: center;
}

.modal-image-full .modal-body {
  margin-top: 7%;
}

.buttonBlue {
  color: white;
  background-color: #1D4C81;
  border: none;
  border-radius: 5px;
  padding: 10px 20px;
  font-weight: 500;
}

.noImage {
  width: 340px;
  height: 410px;
  background-color: #CECECE;
  border-radius: 5px;
  object-fit: cover;
}

.noImageFull {
  width: 420px;
  height: 320px;
  background-color: #CECECE;
  border-radius: 5px;
}

.abouts7 h1, .abouts7 h4 {
  color: #1D4C81;
  font-weight: 800;
  padding: 20px 5px 10px 5px;
}
.lineB{
  border-top: 2px solid #1D4C81;
  width: 80%;
  margin: auto;}
.bold {
  font-weight: 600;
}
.abouts7 .col-4{
  text-align: center;
}
.abouts7 p{
color:#7E7E7E;
}
.abouts6 h4{
  font-weight: 600;
}
.coronaSection a {
  color: #1D4C81;
  font-weight: 600;
}
.abouts6  h6{
  color: black;
}
.modal .modal-dialog-aside{ 
 max-width:80%;min-height: 100%; height: auto; margin:0;transform: translate(0); transition: transform .2s;
}
.modal .modal-dialog-aside .modal-content{  height: inherit; border:0; border-radius: 0;}
.modal .modal-dialog-aside .modal-content .modal-body{ overflow-y: auto }
.modal.fixed-left .modal-dialog-aside{ margin-left:auto;  transform: translateX(100%); }
.modal.fixed-right .modal-dialog-aside{ margin-right:auto; transform: translateX(-100%); }
.modal.show .modal-dialog-aside{ transform: translateX(0);  }
/*# sourceMappingURL=app.css.map */

