

@media only screen and (max-width: 798px) {
    .modal-image-full h1{
        font-size: 34px  !important;
    }
    .modal-image-full .modal-button {
  
        left: 0%;
        background: #0000009e;
        color: #1D4C81;
        font-size: 27px;
        font-weight: 700;
    }
    .calendar-main {
        position: absolute;
        width: 94%;
        height: auto;
        background-color: #1D4C81;
        top: 250px;
        right: 3%;
        display: none;
        border-radius: 5px;
    }
    .calendar-child {
        position: relative;
        width: 100%;
        height: auto;
        margin-top: 0px;
        margin-left: 0px;
        border: 1px solid #f5f5f5;
    }
    .header1,
    .header2 {
        padding-left: 5%;
        padding-right: 5%;
    }
    .filterProperties{
        padding-left: 2%;
        padding-right: 2%;
      }
    .slImage {
        background-image: url(/assets/images/Homepage-cover4-Mobile.jpg) !important;
    }
    .propertyMain {
        padding-left: 5% !important;
        padding-right: 5% !important;
    }
    .hero-image {
        height: 85vh;
        background-image: -webkit-gradient(
                linear,
                left top,
                left bottom,
                from(rgba(0, 0, 0, 0.1)),
                to(rgba(0, 0, 0, 0.1))
            ),
            url("/assets/images/cover_image/regionsm.png");
        background-image: linear-gradient(
                rgba(0, 0, 0, 0.1),
                rgba(0, 0, 0, 0.1)
            ),
            url("/assets/images/cover_image/regionsm.png");
    }

    .mobile {
        display: block !important;
    }
    .fitlerDiv {
        margin-top: 50%;
    }
    #fbox {
        height: 80px;
        transition: height 300ms;
        overflow: hidden;
    }

    #fbox.is-active {
        height: 100%;
    }
    .filterMain {
      padding: 20px 5px 0px 5px;
      margin: 0px 15px;
  }
    .modal-image-full .modal-button {
        position: relative;
        color: white;
    }
    .modal-dialog {
        max-width: 100%;
    }
    select.form-control:not([size]):not([multiple]) {
        height: calc(2.25rem + 2px) !important;
    }
    .googleMap iframe {
        height: 300px;
    }
    .fitlerDiv select {
        color: #1d4c81 !important;
        border: 1px solid #1d4c81;
    }
    .modal.show .modal-dialog {
        height: 100%;
    }
    .properties {
        padding-left: 4%;
        padding-right: 4%;
    }
    .desktop {
        display: none !important;
    }
    .form-control {
        font-size: 14px;
    }
    h1,
    .h1 {
        font-size: 25px;
    }
    h2,
    .h2 {
        font-size: 22px;
    }
    h3,
    .h3 {
        font-size: 18px;
    }
    h4,
    .h4 {
        font-size: 16px;
    }
    h5,
    .h5 {
        font-size: 14px;
    }
    h6,
    .h6 {
        font-size: 13px;
    }
    p {
        font-size: 12px;
    }
    .aboutMne .text {
        width: 100%;
    }
    .change1 p {
        font-size: 12px;
        text-align: justify;
    }
    .property_slide {
        height: 35vh;
    }
    .paddinglr {
        padding-left: 5% !important;
        padding-right: 5%;
    }
    .hero-div {
        padding-left: 5% !important;
        padding-top: 25%;
        padding-right: 5% !important;
        padding-bottom: 4% !important;
    }
    .hero-car-image {
        height: auto !important;
        background-size: revert;
    }
    .hero-yacht-image {
        height: auto !important;
    }
    .hero-tran-image {
        height: auto !important;
    }
    .hero-text h1 {
        color: #1d4c81;
    }
    .hero-text {
        top: 40%;
    }
    .exitFilter{
        width: 28px;
        max-width: 100%;
        margin-right: 14px;
        margin-top: 3px;
    }
    .propertiesMain .gallery_owl .owl-nav {
        display: block;
    }

    .navbar-brand {
        padding: 5px;
        margin: 5px;
    }
    .form-group {
        font-size: 12px;
    }
    .hero-exc-image {
        height: 100%;
    }
    .col-25 {
        -webkit-box-flex: 0;
        -ms-flex: 0 0 20%;
        padding: 15px;
        flex: 0 0 50%;
        max-width: 50%;
    }
    .padding {
        padding-left: 5%;
        padding-right: 5%;
    }
    .card-title {
        height: 108px;
    }
    .tekstAbout {
        z-index: 2;
        margin-top: 5%;
    }

    .navbar-brand h5 {
        color: #1d4c81;
        font-weight: 600;
    }

    .filterDivMob {
        bottom: 0;
        display: block !important;
        width: 100%;
        position: absolute;
        padding: 6% 6%;
        background-color: #addbefeb;
    }
    .filterDivMob a {
        width: 100%;
    }
    .filterDivMob p {
        margin: 0;
        width: 100%;
    }
    .dropdown-menu.show {
        display: flex;
        background-color: #1d4c81;
        flex-flow: wrap;
    }
    .dropdown-menu {
        margin: 0;
    }
    .specialProperties {
        padding: 0;
    }
    .side_filter {
        padding: 0;
    }

    .blogs_owl .owl-next {
        right: -10px;
    }
    .form_inquiry_right {
        border-left: none;
        border-top: 1px solid #fff;
    }
    .property_single_slide {
        height: 35vh;
        max-height: 35vh;
        width: 100%;
        object-fit: cover;
    }
    .blogs_owl .owl-prev {
        left: -10px;
    }
    .blogs_owl .owl-item {
        /*   margin-right: 15px !important;
 */
    }
    .blogs_main {
        padding-right: 0% !important;
        padding-left: 0% !important;
    }
    .noImage {
        height: 190px;
    }
    .filterRental {
        height: 30vh;
    }
    .hero-text form {
        position: absolute;
        padding: 5% 6%;
        background-color: #addbefeb;
        top: 100%;
    }
    .single_news_blog {
        padding-left: 0%;
        padding-right: 0%;
    }
    .single_news_blog h4 {
        padding-left: 4%;
    }
    .searchForm {
        background-color: #ffffffd4;
        border-radius: 30px;
    }
    .hero-text {
        width: 100%;
    }
    .hero-text h1 {
        width: 87%;
        margin: auto;
    }
    .postDiv {
        padding-left: 5% !important;
        padding-right: 5% !important;
    }
    .blogs_main {
        margin-top: -60%;
    }
    #section2 {
        margin-top: 0rem !important;
    }
    .search {
        display: none;
    }
    .slImage {
        height: 100vh !important;
        -o-object-fit: cover;
        object-fit: cover;
        margin-top: 0px !important;
    }
    .dva span {
        font-size: 12px !important;
    }
    .brandf {
        display: none;
    }
    .nav-mobile {
        display: block;
    }
    .site-block-retro .col1 {
        width: 100%;
    }
    .site-block-retro .col2 {
        width: 100%;
    }
    nav {
        width: 100%;
    }
    .hero-exc-image .card-body{
        height: 90px;
        padding: 1rem;
    }
    .hero-exc-image .card-body p {
font-size: 14px;    }
    .navbar {
        padding: 1rem 0rem 0rem 0rem;
    }
    nav ul {
        display: none;
        margin: 0;
        padding: 15px 10px;
        text-align: center;
    }
    nav ul li {
        float: none;
        background-color: #f5b52b10;
        margin-top: 20px;
        border-radius: 20px;
    }
    nav ul li a {
        padding: 15px;
        line-height: 20px;
        color: white !important;
    }
    nav ul li ul li a {
        padding-left: 30px;
    }
    .nav-dropdown {
        position: static;
    }
    .episode-guest {
        position: relative;
    }
    .episode {
        -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    }
    .episode .episode-body .episode-desc {
        overflow: hidden;
        height: 20px;
    }
    .footerKontakt {
        margin: auto;
    }
    .filterModal {
        height: 100%;
        overflow: hidden;
        background-color: #addbefdb;
    }
    /*     ////////////////////////////FORMA//////////////////////////////////////////////////////////////////////////////////////////// */
    .close {
        font-size: 2.5rem;
        color: white;
        opacity: 0.7;
    }
    .modal-header .close {
        color: black;
    }
    /*form styles*/
    #msform {
        height: 350px;
        width: 100%;
        margin: auto;
        text-align: center;
        position: relative;
    }
    #msform fieldset {
        background: white;
        border: 0 none;
        border-radius: 3px;
        padding: 20px 30px;
        box-sizing: border-box;
        width: 80%;
        margin: 0 10%;

        /*stacking fieldsets above each other*/
        position: relative;
    }
    /*Hide all except first fieldset*/
    #msform fieldset:not(:first-of-type) {
        display: none;
    }
    /*inputs*/
    #msform input,
    #msform textarea {
        padding: 15px;
        border: 1px solid #ccc;
        border-radius: 3px;
        margin-bottom: 10px;
        width: 100%;
        box-sizing: border-box;
        font-family: montserrat;
        color: #2c3e50;
        font-size: 13px;
    }
    /*buttons*/
    #msform .action-button {
        width: 100px;
        background: #1d4c81;
        font-weight: bold;
        color: white;
        border: 0 none;
        border-radius: 5px;
        cursor: pointer;
        padding: 5px 5px;
        margin: 10px 5px;
    }
    /* #msform .action-button:hover, #msform .action-button:focus {
	box-shadow: 0 0 0 2px white, 0 0 0 3px #addbef;
} */
    /*headings*/
    .fs-title {
        font-size: 15px;
        text-transform: uppercase;
        color: #1d4c81;
        margin-bottom: 10px;
    }
    .fs-subtitle {
        font-weight: normal;
        font-size: 13px;
        color: #666;
        margin-bottom: 20px;
    }
    /*progressbar*/
    #progressbar {
        padding: 0px;
        margin-bottom: 30px;
        overflow: hidden;
        /*CSS counters to number the steps*/
        counter-reset: step;
    }
    #progressbar li {
        list-style-type: none;
        color: white;
        text-transform: uppercase;
        font-size: 9px;
        width: 33.33%;
        float: left;
        position: relative;
    }
    #progressbar li:before {
        content: counter(step);
        counter-increment: step;
        width: 20px;
        line-height: 20px;
        display: block;
        font-size: 10px;
        color: #333;
        background: white;
        border-radius: 3px;
        margin: 0 auto 5px auto;
    }
    /*progressbar connectors*/
    #progressbar li:after {
        content: "";
        width: 100%;
        height: 2px;
        background: white;
        position: absolute;
        left: -50%;
        top: 9px;
        z-index: -1; /*put it behind the numbers*/
    }
    #progressbar li:first-child:after {
        /*connector not needed before the first step*/
        content: none;
    }
    /*marking active/completed steps green*/
    /*The number of the step and the connector before it = green*/
    #progressbar li.active:before,
    #progressbar li.active:after {
        background: #1d4c81;
        color: white;
    }

    /* //////////////////////////////////////////////////////////////////////////////////////////////////////////////////////// */
}

@media screen and (min-width: 799px) {
    .nav-list {
        display: table !important;
    }
    .blogs_owl .card-body{
		height:250px;
}
.navbar-expand-lg .navbar-nav .dropdown-menu {
    background-color: #1d4c81;
}
}
/* Large devices (laptops/desktops, 1024px and up) */
@media only screen and (min-width: 1024px) {

    
}

/* Large devices (laptops/desktops, 992px and up) */
@media only screen and (max-width: 1200px) {
}
